p.description
  | Each morning you are credited $86,400 for the rest of your life.
  | What you don't spend is lost, it carries over no balance to the next day.
  | You must live in the present of today...