.main
  i.icon-logo
  p.description
    | Each morning you are credited $86,400 for the rest of your life.
    | What you don't spend is lost, it carries over no balance to the next day.
    | You must live in the present of today...
  .step1
    h3 What would you do?
    form(method="POST", action="/post")
      input(type="text", placeholder="TYPE", autofocus="true")
      button.active(type="submit") Next
  .step2
    h3.alt 
      sup *
      | Enter Your Name or Twitter @Name
    form(method="POST", action="/post")
      input(type="text", placeholder="Name or @", autofocus="true")
      p.optional
        sub *
        | optional
      button.active(type="submit") Next