.main
  i.icon-logo
  p.description
    | Each morning you are credited $86,400 for the rest of your life.
    | What you don't spend is lost, it carries over no balance to the next day.
    | You must live in the present of today...
  .step1
    h3 What would you do?
    form
      input(type="text", placeholder="TYPE", autofocus="true", ng-model='goal')
      button.active(ng-click="doIt()") Next
  .step2
    h3.alt 
      sup *
      | Enter Your Name or Twitter @Name
    form
      input(type="text", placeholder="Name or @", autofocus="true", ng-model="user")
      p.optional
        sub *
        | optional
      button.active(ng-click="doIt()") Next