.main-final
  p Every morning credits you with 86,400 seconds.
  .image-wrapper
    a(href="#") NowGoDoWhatYouLove.com
    h1 Travel The World
    .meta
      span $86,400 / day
      span @raleighfelton
  .share
    p share
    i.fa.fa-facebook
    i.fa.fa-twitter
