
<div class="main"><i class="icon-logo"></i>
  <p class="description">
    Each morning you are credited $86,400 for the rest of your life.
    What you don't spend is lost, it carries over no balance to the next day.
    You must live in the present of today...
  </p>
  <div ng-hide="showUser" class="step1">
    <h3>What would you do?</h3>
    <form ng-submit="processForm()">
      <input type="text" placeholder="TYPE" autofocus="true" ng-model="goal"/>
      <button class="active">Next</button>
    </form>
  </div>
  <div ng-show="showUser" class="step2">
    <h3 class="alt"> <sup>*</sup>Enter Your Name or Twitter @Name</h3>
    <form ng-submit="processForm()">
      <input type="text" placeholder="Name or @" autofocus="true" ng-model="user"/>
      <p class="optional"><sub>*</sub>optional</p>
      <button type="submit" class="active">Next</button>
    </form>
  </div>
</div>