
<div class="main"><i class="icon-logo"></i>
  <p class="description">
    Each morning you are credited $86,400 for the rest of your life.
    What you don't spend is lost, it carries over no balance to the next day.
    You must live in the present of today...
  </p>
  <div ng-hide="showUser" class="step1">
    <h3 class="step1__title">What would you do?</h3>
    <div class="step__form">
      <form ng-submit="processForm()">
        <input type="text" placeholder="TYPE" autofocus="true" ng-model="goal" ng-keyup="onKeyDown('goal')" ng-readonly="readonly"/>
        <button analytics-on="click" analytics-event="Click" analytics-category="Button" analytics-label="Next 1/2" class="button active">1/2 Next</button>
        <div><span ng-class="{'show': readonly, 'hidden': !readonly}" class="error">No more characters</span></div>
      </form>
    </div>
  </div>
  <div ng-show="showUser" class="step2">
    <h3 class="step2__title"><sup>*</sup>Enter Your Name or Twitter @Name</h3>
    <div class="step__form">
      <form ng-submit="processForm('next')">
        <input type="text" placeholder="@" autofocus="true" ng-model="user" ng-keyup="onKeyDown('user')"/>
        <p class="optional"><sub>*</sub>optional</p>
        <button type="submit" analytics-on="click" analytics-event="Click" analytics-category="Button" analytics-label="Submit 1/2" class="button active">2/2 Submit</button>
      </form>
    </div>
  </div>
</div>