
<div class="main"><i class="icon-logo"></i>
  <div class="starter-outer">
    <div class="starter-inner">
      <h1 id="counter"><span>$</span><span class="number">86,400</span></h1>
      <p class="quote">If you say that getting the money is the most important thing, you'll spend your life completely wasting your time. You'll be doing things you don't like doing in order to go on living, that is to go on doing thing you don't like doing, which is stupid.<br/>— Alan Watts</p>
    </div>
  </div>
  <script type="text/javascript">
    $('#counter .number').counterUp({
      delay: 50,
      time: 1000
    })
  </script>
</div>