
<div class="main-final">
  <p>
     
    Every morning credits you with <span class="number">86,400</span> seconds.
  </p><a href="#">NowGoDoWhatYouLove.com</a>
  <div class="image-wrapper">
    <h1 ng-class="h1Class">{{entry.goal}}</h1>
    <div class="meta"><span>{{entry.submitted_by}}</span><span>$86,400 / day</span></div>
  </div>
</div>
<div class="share">
  <p>share</p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i>
</div>
<script type="text/javascript">
  $('.number').counterUp({
    delay: 50,
    time: 2000
  })
</script>