
<div class="main-final">
  <p>Every morning credits you with 86,400 seconds.</p>
  <div class="image-wrapper"><a href="#">NowGoDoWhatYouLove.com</a>
    <h1>{{entry.goal | characters: 20}}</h1>
    <div class="meta"><span>$86,400 / day</span><span>{{entry.user}}</span></div>
  </div>
  <div class="share">
    <p>share</p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i>
  </div>
</div>
<div class="footer-entries">
  <div ng-repeat="entry in entries | orderBy: 'id':true | limitTo: 4" class="entries"> 
    <p>{{entry.id}}</p>
    <h4 class="title">{{entry.goal | characters: 30}}</h4>
  </div>
</div>