@import fonts
@import animations/index
@import animations/home
@import animations/form
@import animations/lists
@import font-awesome-sprockets
@import font-awesome

*
  box-sizing: border-box

body
  background: #242424
  font-weight: 16px
  text-align: center
  padding-top: 30px
  font-family: "futura-pt"
  margin: 0
  border: 30px solid #aeaeae
  -webkit-font-smoothing: antialiased
  ::-webkit-input-placeholder
    color: #353738
  :-moz-placeholder
    color: #353738
  ::-moz-placeholder
    color: #353738
  :-ms-input-placeholder
    color: #353738

p
  color: #fff

button
  outline: none

a
  color: #e11863
  text-decoration: none

h3
  color: #ea1767
  font-weight: 700
  text-transform: uppercase
  letter-spacing: .2em
  &.step2__title
    color: #aeaeae

sup
  color: #e11863

h4
  margin: 0
  margin: .4em

.main
  margin: 0 auto
  text-align: center

.starter-outer
  width: 575px
  width: 50vw
  margin: 0 auto

.starter-outer
  position: relative

h1
  color: #aeaeae

  &.counter
    color: #ea1767
    font-size: 9.188em
    font-size: 11.5vw
    font-family: "futura-pt"
    margin: 5px 0 0 0

.icon-logo
  color: #505050
  font-size: 5em

.quote
  color: #505050
  line-height: 1.8em
  font-weight: 500
  width: 490px
  width: 50vw
  margin: 0 auto
  margin-bottom: 60px
  font-size: 1.2em
  + button
    &.hidden
      display: none

.description
  color: #fff
  font-weight: 500
  width: 500px
  width: 50vw
  margin: 50px auto
  font-size: 1.2em
  line-height: 1.8em

.pink
  color: #ea1767

.about
  cursor: pointer
  position: absolute
  width: 100%
  display: block
  bottom: 20px
  text-align: center

  @media (max-width: 800px)
    display: none

.about-panel
  position: absolute
  top: 0
  left: -100%
  width: 100%
  height: 100%
  background: rgba(0,0,0,.85)
  color: #fff
  font-size: 16px
  line-height: 30px
  opacity: 0


.about-panel-background
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  cursor: none

.cursor-plus
  position: absolute
  background: transparent url(../public/images/close.png) no-repeat 0 0
  width: 20px
  height: 20px
  z-index: 2
  left: -100%


.about-content
  width: 100%
  max-width: 540px
  margin: auto
  padding: 10px
  font-weight: 500
  z-index: 2
  position: relative

.about-content a
  color: #ec1467
  text-decoration: none

.sb-logo
  transition-duration: .5s
  -webkit-transition-duration: .5s
  margin: 60px auto 100px
  width: 74px
  height: 111px

.show .sb-logo
  margin-top: 100px

.ngdwyl
  width: 200px
  margin: 0 auto 74px

.ngdwyl p
  margin: 0
  padding: 0
  color: #515151


.ngdwyl img
  width: 36px
  height: 60px

.optional
  margin: 0
  color: #e11863
  margin-bottom: 10px

textarea, input
  background: none
  border: none
  letter-spacing: .2em
  font-weight: 800
  color: #aeaeae
  width: 575px
  height: 155px
  display: inline-block
  text-align: center
  margin-bottom: 70px
  text-transform: uppercase
  font-size: 130px
  font-size: 10vw
  outline: none

.button
  background: none
  border-radius: 20px
  font-size: 1em
  text-transform: uppercase
  padding: 15px 86px
  -webkit-font-smoothing: antialiased
  letter-spacing: .2em
  cursor: pointer
  font-weight: 700
  transition: background .2s linear
  &.deactivated
    border: 2px solid #2e2f30
    color: #2e2f30
  &.active
    border: 2px solid #fff
    color: #fff
    &:hover
      color: #242424
      background: #fff

.image-wrapper
  height: 560px
  width: 80vw
  text-align: center
  margin: 0 auto
  box-sizing: border-box
  padding: 40px 60px 10px 60px
  text-align: center
  position: relative
  -webkit-transform-style: preserve-3d
  -moz-transform-style: preserve-3d
  transform-style: preserve-3d

  h1
    position: relative
    word-wrap: break-word
    font-weight: 700
    color: #fff
    text-transform: uppercase
    line-height: .8em
    font-size: 10em
    font-size: 8vw

.main-final
  height: 100%
  padding-top: 30px
  overflow: scroll
  p
    margin: 0
  a
    position: relative
    top: 100px
    top: 5vw
    z-index: 2
    font-size: 1.2em

.meta
  color: #fff
  span
    display: block

.entries
  float: left
  border: 13px solid #aeaeae
  width: 256px
  height: 244px
  text-align: center
  color: #fff
  text-transform: uppercase
  &:not(:last-child)
    margin-right: 45px
  .title
    font-size: 32.85px
    word-wrap: break-word

.home
  .icon-logo
    position: relative
    &:after
      display: block
      content: "\e600"
      height: 80px
      width: 51px
      position: absolute
      clip: rect(0px, 80px, 80px, 0px)
      color: #ea1767
      top: 0
      left: 0
      z-index: 1
      -webkit-animation: loading both 2.05s ease-in

@-webkit-keyframes loading
  0%
    clip: rect(0px, 80px, 80px, 0px)
  100%
    clip: rect(80px, 80px, 80px, 0px)

.reload
  position: absolute
  color: #4f5151
  bottom: 20px
  left: 20px
  font-size: 1.5em
  cursor: pointer
  i
    transition: all .1s linear
    &:hover
      color: white

.share
  text-transform: uppercase
  position: absolute
  top: 0px
  right: 20px
  display: flex
  flex-direction: column
  color: #4f5151
  i
    height: 40px
    width: 40px
    border-radius: 50%
    line-height: 40px
    border: 1px solid #4f5151
    margin-bottom: 20px
    cursor: pointer
    transition: all .1s linear
    position: relative
    left: 0

    &:hover
      left: -10px

.footer-entries
  width: 1263px
  margin: 0 auto
  margin-top: 70px
  &:before,
  &:after
    content: ""
    display: table
  &:after
    clear: both

.step__form
  input
    margin: 0 auto
    width: 900px
    width: 90vw
    display: block
    margin-bottom: 20px

.error
  color: #ea1767
  transition: opacity .5s linear
  margin-top: 20px
  display: block

  &.hidden
    opacity: 0
  &.show
    opacity: 1

