@import 'fonts'

body
  background: #242424
  font-weight: 16px
  text-align: center
  font-family: "futura-pt"
  -webkit-font-smoothing: antialiased

.wrapper
  padding-top: 90px

.main
  width: 575px
  margin: 0 auto
  text-align: center


.starter-outer
  width: 575px
  margin: 0 auto

h1
  color: #aeaeae

  &#counter
    color: #ea1767
    font-size: 9.188em
    font-family: "futura-pt"
    margin: 5px 0 0 0

.icon-logo
  color: #505050
  font-size: 5em

.quote
  color: #505050

.description
  color: #fff